.acerca-de {
    width: 100%;
    margin-top: 20px;
    padding: 20px;
}
.informacion{
display:flex;
justify-content: center;

}
.titulo__btn{
    display: flex;
    justify-content: center;
  
}

.btnActualizar{
    display: none;
}

.edicion-biografia{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:  20px;
}

.icon-edicionBiografia{
    margin : 10px 20px;
}

.input-biografia{
    display:none;
}
.nombre {
    width: 100%;
}

.edicion input {
    padding: 0px;
    border: 2px black solid;
    background-color: lightcyan;
  
}

.acercade-mi{
    height:100vh;
    text-align: center;
    padding:20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.informacion_basica{
    border: whitesmoke solid 1px;
    background-color: rgba(0,0,0,0.7);
    width: 50%;
    height:50vh;
    padding:20px;
}

.informacion__basica-datos{
    text-align: justify;
    list-style: none;
   
}

.informacion__basica-descripcion{
    border: whitesmoke solid 1px;
    padding:30px;
    width:70%;
    height: 80vh;
    background-color: rgba(0,0,0,0.7);
}