.acerca-de {
    width: 100%;
    margin-top: 20px;
    padding: 20px;
}
.informacion{
display:flex;

}

.button {
    position: relative;
    right: 5px;
}

.nombre {
    width: 100%;
}

.edicion input {
    padding: 0px;
    border: 2px black solid;
    background-color: lightcyan;
  
}

.acercade-mi{
    height:100vh;
    text-align: center;
    padding:20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.informacion_basica{
    border: whitesmoke solid;
    background-color: rgba(0,0,0,0.7);
    width: 50%;
    height:50vh;
    padding:20px;
}

.informacion__basica-datos{
    text-align: justify;
    list-style: none;
   
}

.informacion__basica-descripcion{
    border: whitesmoke solid;
    padding:20px;
    width:50%;
    background-color: rgba(0,0,0,0.7);
}