body {
    background-image: url(https://content.techgig.com/photo/71488724/A-simple-GIF-is-all-it-takes-to-hack-your-WhatsApp.jpg);
    color: aliceblue;
    position: relative;
    width: 100%;

}




/*Educacion*/
.Educacion {
    display: flex;
    margin: 30px;
}

.anio {
    background-color: red;
    width: 30%;
    padding: 20px;
}

.detalles {
    color: black;
    width: 70%;
    padding: 20px;
    background-color: antiquewhite;
}

.educacion {
    text-align: center;
    border: white solid 1px;
    margin: 10px;
    height: 100vh;
}

/*main*/



/*Experiencia*/


.Experiencia {
    display: flex;
    margin: 30px;
}

.anio {
    background-color: red;
    width: 30%;
    padding: 20px;
}

.detalles {
    color: black;
    width: 70%;
    padding: 20px;
    background-color: antiquewhite;
}

.experiencia {
    border: 1px whitesmoke solid;
    text-align: center;
    margin: 10px;
    height: 100vh;
}